.MainChat__messageList__oneBox
  .MainChat__messageList__oneBox__userBox
    .MainChat__messageList__oneBox__userBox__messageOwner masa
    .MainChat__messageList__oneBox__userBox__date 2020/01/01(Wen) 00:00:00
  .MainChat__messageList__oneBox__message おはよう